/* Custom */

/*#mediaList {
	list-style: none;
}*/

body {
  background-color: #000;
  color: #8c8;
}

a {
  color: #cc5;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color:  #ff8
}

li.closed > ul {
	display: none;
}

li.directory {
	list-style-image: url(../img/folder-icon.png);
	font-size: 24px;
}

li.content {
  font-size: 32px;
}

li.video {
	list-style-image: url(../img/video-icon.png);
}

li.media-TV {
  list-style-image: url(../img/media-TV.png);
  margin-left: 32px;
}

.meta ul {
	list-style-image: url(../img/meta-icon.png);
}

img.thumb {
	margin: 2px;
	padding: 5px;
	border: 1px solid #ff8;
}

td.thumb {
	vertical-align: middle;
	height: auto;
}

.hiddenThumbs img.thumb {
	display: none;
}

td.plot {
  font-size: 20px;
}

td.plot img {
	float: left;
	border: 1px solid #ff8;
	margin: 2px;
	padding: 5px;
}