@iwidth: 640px;
@iheight: 480px;
@base_color: #888;
@text_color: #000;


body {
	background: @base_color;
	color: @text_color;
	overflow: hidden;
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

a {
	color: @text_color;
	&:hover {
		color: lighten(@text_color, 30%);
		cursor: hand !important;
	}
	&:visited {
		color: @text_color;
	}
}

.goBack {
	display: inline-block;
	background-color: darken(@base_color, 30%);
	width: 50px;
	.rounded-corners(10px);
	border: 2px solid darken(@text_color, 30%);
	cursor: hand !important;
	text-align: center;
}

#iface-frame {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	
	#iface-tray {
		position: relative;
		width: 10000px;
		height: 100%;
		
		.selectColumn {
			margin: 0px;
			padding: 0px;
			float: left;
			width: 100%;
			
			li {
				a {
					text-decoration: none;
				}
				
				padding: 15px;
				list-style: none;
				font-size: 28px;
				width: 100%;
				height: 70px;
				border: 1px solid #000;
				
				-webkit-transition: color 0.3s;
				-webkit-transition: background-color 0.3s;
				
				&:hover {
					cursor: pointer;
					cursor: hand;
					background-color: lighten(@base_color, 30%);
					color: lighten(@text_color, 30%);
					div {
						padding-left: 25px;
					}
				}
				
				&.heading {
					font-size: 36px;
					font-weight: bold;
					&:hover {
						cursor: default;
						background-color: @base_color;
						color: @text_color;
						padding-left: 15px;
					}
				}
				
				div {
					height: 100px;
					margin-top: 20px;
					padding-left: 0px;
					-webkit-transition: padding 0.3s;
				}
				
			}
			
			ul.facts li {
				list-style: circle;
				border: none;
				font-size: 16px;
				height: auto;
				padding: 2px;
				&:hover {
					margin: auto;
					background-color: inherit;
				}
			}
			
			.hiddenThumbs {
				img.thumb {
					margin: 2px;
					padding: 5px;
					border: 1px solid #ff8;
				}
				//display: none;
			}
			
		}
	}
}